
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    background-image: url(./back-blurred.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.c-item{
    height: 570px;
}

.c-img{
    height:fit-content;
    width: fit-content;
    object-fit: cover;
    filter: brightness(0.6);
}


nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0,0, 0, 0.1);
}

nav ul{
    width:100%;
    list-style: none;
    display: inline-block;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    display: inline-block;
    height: 50px;
}

nav a{
    position: relative;
    height: 100%;
    padding: 0 23px;
    text-decoration: none;
    display:flex;
    font-size: 1rem;
    font-weight: 500;
    align-items: center;
    color: black;

}


.container a:hover{
    background: linear-gradient(45deg,#f62a2a, #353333);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10%;
    margin:0;
} 


.container-1{
    position:relative;
    height:50px;
    width: 900px;
    min-width: 40px;
    z-index: 999;
    background: linear-gradient(45deg,#ed9d56, #f14848);
    border-radius: 8px;
    box-shadow: -10px 0 10px rgba(0,0, 0, 0.5);
    display: inline-flexbox;

    flex-direction: row;
    align-items:center;
    justify-content:center;
}

.container-item:hover{
    color:white;
    
}
